@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #33dfdf, rgb(230, 29, 29));
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.h1 {
    margin: 10px;
}

.box {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box.show {
    transform: translateX(0);
}

.box.img {
    max-width: 500px;
    max-height: 200px;
}